<a href="https://colab.research.google.com/github/erickaalgr/CpEN-21A-BSCpE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [5]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [7]:
for x in "week":
  print(x)

w
e
e
k

The range() function

In [10]:
for x in range(6):
  print(x)

for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [12]:
for x in range(6):
  print("Example 1",x)

for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested loops

In [13]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [16]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

The break statement

In [17]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1  #Assignment operator for addition

1
2
3

In [19]:
i=1
while i<6:
  i+=1  #Assignment operator for addition
  if i==3:
    continue
  print(i)

2
4
5
6

In [20]:
i=1
while i<6:
  i+=1  #Assignment operator for addition
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

The else statement

In [21]:
i=1
while i<6:
  print(i)
  i+=1  
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a Phyton program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10(in vertical display)

In [22]:
hello=["Hello 0","Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6","Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [28]:
i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2
Create a Phyton program that displays integers less than 10 but not less than 3.

In [46]:
integers=[9,8,7,6,5,4,3]
for x in integers:
  print(x)

9
8
7
6
5
4
3

In [43]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [41]:
i=3
while i<10:
  print(i)
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9